SimpleBlog-JSONtoWSDLConverter/WebContent/WEB-INF/services/simpleblog/META-INF/simpleblog.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="simpleblog" targetNamespace="http://www.wbd.org/simpleblog/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.wbd.org/simpleblog/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.wbd.org/simpleblog/">

			<xsd:complexType name="ArrayOfUsers">
				<xsd:sequence>
					<xsd:element maxOccurs="unbounded" minOccurs="0" name="listUsers" type="tns:User"/>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="ArrayOfComments">
				<xsd:sequence>
					<xsd:element maxOccurs="unbounded" minOccurs="0" name="listComments" type="tns:Komentar"/>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="ArrayOfPosts">
				<xsd:sequence>
					<xsd:element maxOccurs="unbounded" minOccurs="0" name="listPosts" type="tns:Blogpost"/>
				</xsd:sequence>
			</xsd:complexType>


			<xsd:complexType name="Blogpost">
				<xsd:attribute name="id" type="xsd:int"/>
				<xsd:attribute name="judul" type="xsd:string"/>
				<xsd:attribute name="konten" type="xsd:string"/>
				<xsd:attribute name="tanggal" type="xsd:dateTime"/>
				<xsd:attribute name="isPublished" type="xsd:boolean"/>
			</xsd:complexType>

			<xsd:complexType name="User">
				<xsd:attribute name="id" type="xsd:int"/>
				<xsd:attribute name="nama" type="xsd:string"/>
				<xsd:attribute name="email" type="xsd:string"/>
				<xsd:attribute name="role" type="xsd:string"/>
			</xsd:complexType>

			<xsd:complexType name="Komentar">
				<xsd:attribute name="id" type="xsd:int"/>
				<xsd:attribute name="nama" type="xsd:string"/>
				<xsd:attribute name="email" type="xsd:string"/>
				<xsd:attribute name="konten" type="xsd:string"/>
				<xsd:attribute name="tanggal" type="xsd:dateTime"/>
			</xsd:complexType>
		</xsd:schema>
  </wsdl:types>
  <wsdl:message name="listPostRequest">
  </wsdl:message>
  <wsdl:message name="publishPostResponse">
    <wsdl:part name="success" type="xsd:boolean">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addPostRequest">
    <wsdl:part name="judul" type="xsd:string">
    </wsdl:part>
    <wsdl:part name="konten" type="xsd:string">
    </wsdl:part>
    <wsdl:part name="tanggal" type="xsd:dateTime">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="listCommentRequest">
  </wsdl:message>
  <wsdl:message name="listUserRequest">
  </wsdl:message>
  <wsdl:message name="addUserResponse">
    <wsdl:part name="success" type="xsd:boolean">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="editUserResponse">
    <wsdl:part name="success" type="xsd:boolean">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteCommentRequest">
    <wsdl:part name="id" type="xsd:int">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="searchRequest">
    <wsdl:part name="query" type="xsd:string">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deletePostResponse">
    <wsdl:part name="success" type="xsd:boolean">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="editUserRequest">
    <wsdl:part name="id" type="xsd:int">
    </wsdl:part>
    <wsdl:part name="nama" type="xsd:string">
    </wsdl:part>
    <wsdl:part name="role" type="xsd:string">
    </wsdl:part>
    <wsdl:part name="email" type="xsd:string">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addPostResponse">
    <wsdl:part name="success" type="xsd:boolean">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteUserRequest">
    <wsdl:part name="id" type="xsd:int">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="searchResponse">
    <wsdl:part name="result" type="tns:ArrayOfPosts">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addUserRequest">
    <wsdl:part name="nama" type="xsd:string">
    </wsdl:part>
    <wsdl:part name="email" type="xsd:string">
    </wsdl:part>
    <wsdl:part name="role" type="xsd:string">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteCommentResponse">
    <wsdl:part name="success" type="xsd:boolean">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="listPostResponse">
    <wsdl:part name="posts" type="tns:ArrayOfPosts">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="publishPostRequest">
    <wsdl:part name="id" type="xsd:int">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteUserResponse">
    <wsdl:part name="success" type="xsd:boolean">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="editPostResponse">
    <wsdl:part name="success" type="xsd:boolean">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="listCommentResponse">
    <wsdl:part name="comments" type="tns:ArrayOfComments">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addCommentResponse">
    <wsdl:part name="success" type="xsd:boolean">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="editPostRequest">
    <wsdl:part name="id" type="xsd:int">
    </wsdl:part>
    <wsdl:part name="judul" type="xsd:string">
    </wsdl:part>
    <wsdl:part name="konten" type="xsd:string">
    </wsdl:part>
    <wsdl:part name="tanggal" type="xsd:dateTime">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deletePostRequest">
    <wsdl:part name="id" type="xsd:int">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="listUserResponse">
    <wsdl:part name="users" type="tns:ArrayOfUsers">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addCommentRequest">
    <wsdl:part name="nama" type="xsd:string">
    </wsdl:part>
    <wsdl:part name="email" type="xsd:string">
    </wsdl:part>
    <wsdl:part name="kontent" type="xsd:string">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="simpleblog">
    <wsdl:operation name="addPost">
      <wsdl:input message="tns:addPostRequest">
    </wsdl:input>
      <wsdl:output message="tns:addPostResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listPost">
      <wsdl:input message="tns:listPostRequest">
    </wsdl:input>
      <wsdl:output message="tns:listPostResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="editPost">
      <wsdl:input message="tns:editPostRequest">
    </wsdl:input>
      <wsdl:output message="tns:editPostResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deletePost">
      <wsdl:input message="tns:deletePostRequest">
    </wsdl:input>
      <wsdl:output message="tns:deletePostResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="publishPost">
      <wsdl:input message="tns:publishPostRequest">
    </wsdl:input>
      <wsdl:output message="tns:publishPostResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addUser">
      <wsdl:input message="tns:addUserRequest">
    </wsdl:input>
      <wsdl:output message="tns:addUserResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listUser">
      <wsdl:input message="tns:listUserRequest">
    </wsdl:input>
      <wsdl:output message="tns:listUserResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="editUser">
      <wsdl:input message="tns:editUserRequest">
    </wsdl:input>
      <wsdl:output message="tns:editUserResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteUser">
      <wsdl:input message="tns:deleteUserRequest">
    </wsdl:input>
      <wsdl:output message="tns:deleteUserResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addComment">
      <wsdl:input message="tns:addCommentRequest">
    </wsdl:input>
      <wsdl:output message="tns:addCommentResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listComment">
      <wsdl:input message="tns:listCommentRequest">
    </wsdl:input>
      <wsdl:output message="tns:listCommentResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteComment">
      <wsdl:input message="tns:deleteCommentRequest">
    </wsdl:input>
      <wsdl:output message="tns:deleteCommentResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="search">
      <wsdl:input message="tns:searchRequest">
    </wsdl:input>
      <wsdl:output message="tns:searchResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="simpleblogSOAP" type="tns:simpleblog">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="addPost">
      <soap:operation soapAction="http://www.wbd.org/simpleblog/addPost"/>
      <wsdl:input>
        <soap:body use="literal" namespace="http://www.wbd.org/simpleblog/"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" namespace="http://www.wbd.org/simpleblog/"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listPost">
      <soap:operation soapAction="http://www.wbd.org/simpleblog/listPost"/>
      <wsdl:input>
        <soap:body use="literal" namespace="http://www.wbd.org/simpleblog/"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" namespace="http://www.wbd.org/simpleblog/"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="editPost">
      <soap:operation soapAction="http://www.wbd.org/simpleblog/editPost"/>
      <wsdl:input>
        <soap:body use="literal" namespace="http://www.wbd.org/simpleblog/"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" namespace="http://www.wbd.org/simpleblog/"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deletePost">
      <soap:operation soapAction="http://www.wbd.org/simpleblog/deletePost"/>
      <wsdl:input>
        <soap:body use="literal" namespace="http://www.wbd.org/simpleblog/"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" namespace="http://www.wbd.org/simpleblog/"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="publishPost">
      <soap:operation soapAction="http://www.wbd.org/simpleblog/publishPost"/>
      <wsdl:input>
        <soap:body use="literal" namespace="http://www.wbd.org/simpleblog/"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" namespace="http://www.wbd.org/simpleblog/"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addUser">
      <soap:operation soapAction="http://www.wbd.org/simpleblog/addUser"/>
      <wsdl:input>
        <soap:body use="literal" namespace="http://www.wbd.org/simpleblog/"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" namespace="http://www.wbd.org/simpleblog/"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listUser">
      <soap:operation soapAction="http://www.wbd.org/simpleblog/listUser"/>
      <wsdl:input>
        <soap:body use="literal" namespace="http://www.wbd.org/simpleblog/"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" namespace="http://www.wbd.org/simpleblog/"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="editUser">
      <soap:operation soapAction="http://www.wbd.org/simpleblog/editUser"/>
      <wsdl:input>
        <soap:body use="literal" namespace="http://www.wbd.org/simpleblog/"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" namespace="http://www.wbd.org/simpleblog/"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteUser">
      <soap:operation soapAction="http://www.wbd.org/simpleblog/deleteUser"/>
      <wsdl:input>
        <soap:body use="literal" namespace="http://www.wbd.org/simpleblog/"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" namespace="http://www.wbd.org/simpleblog/"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addComment">
      <soap:operation soapAction="http://www.wbd.org/simpleblog/addComment"/>
      <wsdl:input>
        <soap:body use="literal" namespace="http://www.wbd.org/simpleblog/"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" namespace="http://www.wbd.org/simpleblog/"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listComment">
      <soap:operation soapAction="http://www.wbd.org/simpleblog/listComment"/>
      <wsdl:input>
        <soap:body use="literal" namespace="http://www.wbd.org/simpleblog/"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" namespace="http://www.wbd.org/simpleblog/"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteComment">
      <soap:operation soapAction="http://www.wbd.org/simpleblog/deleteComment"/>
      <wsdl:input>
        <soap:body use="literal" namespace="http://www.wbd.org/simpleblog/"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" namespace="http://www.wbd.org/simpleblog/"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="search">
      <soap:operation soapAction="http://www.wbd.org/simpleblog/search"/>
      <wsdl:input>
        <soap:body use="literal" namespace="http://www.wbd.org/simpleblog/"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" namespace="http://www.wbd.org/simpleblog/"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="simpleblog">
    <wsdl:port name="simpleblogSOAP" binding="tns:simpleblogSOAP">
      <soap:address location="http://www.wbd.org/simpleblog"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
